


/* added three font faces coolvetica, antinkodan and thunder hc */
@font-face {
    font-family: 'Coolvetica';
    /* Removed the link  to coolvetica italic and renamed the files and updated the formats*/
    src: url('../fonts/coolvetica-20250105T074502Z-001/coolvetica/coolvetica-rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Antinkodan';
    src: url('../fonts/antinkodan-20250105T074502Z-001/antinkodan/Antinkodan.woff2') format('woff2');
  }
  
  @font-face {
    font-family: 'Thunder HC';
    src: url('../fonts/thunder-20250105T074544Z-001/thunder/Thunder-HC.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-20250105T074502Z-001/montserrat/Montserrat-Regular.woff2') format('woff2');
  }
  
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.verification-container {
    text-align: center;
    padding: 50px;
    width: 500px;
    height: 500px;
    background-color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 22px 22px 0px #000;
    transition: all 0.4s ease;
}

.verification-container:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.241);
    transform: translateY(-5px);
}

h2 {
    font-weight: 500;
    font-size: 45px;
    font-family: Coolvetica, sans-serif;
    margin-bottom: 40px;
    font-weight: bold;
}

.email-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 55px;
}

.email-box {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 100;
    font-family: Coolvetica, sans-serif;
    width: 400px; /* Similar to the width of multiple code boxes combined */
    height: 45px;
    margin-bottom: 20px;
    text-align: center;
    border: none;
    border-radius: 8px;
    outline: none;
    caret-color: white;
    transition: all 0.3s ease;
    position: relative;
}

.email-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 8px #000;
}

.email-box::placeholder {
    color: #BEBEBE;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    font-family: Coolvetica, sans-serif;
}

/* Add animation similar to code-box */
.email-box:focus::placeholder {
    opacity: 0; /* Disappear placeholder on focus for a cleaner effect */
    transition: opacity 0.3s ease;
}

.submit-btn { /*Call to action*/
    background-color: black;
    color: white;
    font-size: 22px;
    font-family: Coolvetica, sans-serif;
    border: none;
    padding: 7px 14px;
    border-radius: 0px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
    box-shadow: 7px 7px 0px #BEBEBE;
    transform: translateY(-5px);
}
    

.note {
    font-size: 14px;
    font-family: Montserrat;
    color: black;
    margin-top: 0px;
}

.resend {
    font-weight: 100;
    font-size: 17px;
    font-family: Coolvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
    color:black;
}

.resend:hover {
    text-decoration: underline;
}



@media only screen and (max-width: 432px)
{
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
    }
    .verification-container {
        width: 340px;
        height: 350px;
    }
    h2 {
        font-size: 25px;
        text-align: center;
        margin-top: 0px;
    }
    .email-box{
        background-color: black;
        color: white;
        font-size: 20px;
        font-weight: 100;
        font-family: Coolvetica, sans-serif;
        width: 250px; /* Similar to the width of multiple code boxes combined */
        height: 30px;
        margin-bottom: 10px;
        text-align: center;
        border: none;
        border-radius: 8px;
        outline: none;
        caret-color: white;
        transition: all 0.3s ease;
        position: relative;
    }    
    .email-box::placeholder {
        color: #BEBEBE;
        font-size: 15px;
        font-weight: 100;
        text-align: center;
        font-family: Coolvetica, sans-serif;
        margin-bottom: 0px;
    }
    .submit-btn{
        background-color: black;
        color: white;
        font-size: 14px;
        font-family: Coolvetica, sans-serif;
        border: none;
        padding: 7px 14px;
        border-radius: 0px;
        margin-top: -40px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }
    .note {
        font-size: 8px;
        margin-top: 0px;
        color: #000;
    }
    .resend{
        font-size:10px;
        font-family: Montserrat;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        color:black;
    }
}
