@font-face {
    font-family: 'Coolvetica';
    src: url('../fonts/coolvetica-20250105T074502Z-001/coolvetica/coolvetica-rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-20250105T074502Z-001/montserrat/Montserrat-Regular.woff2') format('woff2');
  }
  
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.reset-password-container {
    text-align: center;
    padding: 50px;
    width: 500px;
    height: 450px;
    background-color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 22px 22px 0px #000;
    transition: all 0.4s ease;
}

.form-container:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.241);
    transform: translateY(-5px);
}

h1 {
    font-size: 32px;
    font-family: Coolvetica, sans-serif;
    font-weight: 100;
    margin-bottom: 0px;
}

h2 {
    font-weight: 500;
    font-size: 42px;
    font-family: Coolvetica, sans-serif;
    margin-bottom: 40px;
    font-weight: bold;
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-group {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 100;
    font-family: Coolvetica, sans-serif;
    width: 400px; /* Similar to the width of multiple code boxes combined */
    height: 45px;
    margin-bottom: 20px;
    text-align: center;
    border: none;
    border-radius: 8px;
    outline: none;
    caret-color: white;
    transition: all 0.3s ease;
    position: relative;
}

.input-group:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 8px #000;
}

.input-group::placeholder {
    color: #BEBEBE;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    font-family: Coolvetica, sans-serif;
}

.input-group:focus::placeholder {
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.submit-btn { /*Call to action*/
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: Coolvetica, sans-serif;
    border: none;
    padding: 7px 14px;
    border-radius: 0px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
    box-shadow: 7px 7px 0px #BEBEBE;
    transform: translateY(-5px);
}
    

.note {
    font-size: 14px;
    font-family: Montserrat;
    color: black;
    margin-top: 0px;
}

.resend {
    font-weight: 100;
    font-size: 17px;
    font-family: Coolvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
    color:black;
}

.resend:hover {
    text-decoration: underline;
}



@media only screen and (max-width: 480px)
{
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reset-password-container{
        width:380px;
        height: 360px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.241);
    }
    h1{
        margin-top: -15px;
        font-size: 22px;
    }
    h2{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .input-group{
        width: 320px;
        height: 42px;
    }
    .input-group::placeholder{
        font-size: 18px;
    }
    .submit-btn{
        font-size: 15px;
    }
    .note{
        font-size: 10px;
    }
    .resend{
        font-size: 14px;
    }
}
