<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MyWebSite" />
  <link rel="manifest" href="/static/favicon/site.webmanifest" />
  <title>Contact Us</title>
  <link rel="stylesheet" href="/static/css/contact.css">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/"><img src="/static/images/Logo.png" alt="Scheduler Logo" class="logo-img"></a>
      <a href="/"><h1>Scheduler</h1></a>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="left-section">
    
        <h2 id="contact-us">Contact Us</h2>
        <p>Whether you have questions, feedback, or need support, we're here to help. Use the form below to get in touch with us, or reach out via email or phone.</p>
      </div>
      <div class="right-section">
        <nav class="nav-bar">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/terms-and-conditions">Terms</a>
        </nav>
        <div class="form-container">
          <h3 id="get-in-touch">Get In Touch</h3>
          <p id="reach-us-anywhere">You can reach us anywhere.</p>
          <form>
            <input type="text" name="name" placeholder="UserName" class="userInput" required>
            <input type="email" name="email" placeholder="Email" class="userInput" required>
            <textarea name="message" placeholder="Message" class="userInput" required></textarea>
            <button type="submit">Submit</button>
          </form>
          <p class="terms">By contacting us, you agree to our <a href="terms.html">Terms of Service</a> and <a href="privacy.html">Privacy Policy</a>.</p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="contact-info">
      <p>Kathmandu, Nepal</p>
      <p>contact.scheduler@gmail.com</p>
    </div>
    <div class="footer">
      <p>2025 @Scheduler All Rights Reserved.</p>
    </div>
  </footer>
</body>
</html>
