<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="/static/images/Logo.png" alt="Logo" class="logo-icon">
        <span>Scheduler</span>
    </div>
    <div class="nav-container">
        <button class="menu-toggle">☰</button>
        <nav>
            <a href="#" class="active">Dashboard</a>
            <a href="#">Calendar</a>
            <a href="#">Activity</a>
            <a href="#">Help</a>
        </nav>
    </div>
    <div class="profile-card">
        <img src="/static/images/notification-alert-icon.png" class="notif-img">
        <img src="{{ profile_photo_url }}" alt="Profile Picture" class="profile-img">
        <div class="profile-info">
            <span class="profile-name">{{ username }}</span>
            <small class="profile-email">{{ email }}</small>
        </div>
        <button class="profile-toggle">▾</button>
        <ul class="profile-options">
            <li><a href="#">Change Profile</a></li>
            <li><a href="#">Bind to Tik Tok</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="/users/logout">Logout</a></li>
        </ul>
    </div>
</header>

<main>
    <section class="upload-section">
        <div class="upload-text">Upload your Image.</div>
        <div class="upload-box">
            <p>drag or drop a file to upload.</p>
            <button>Select</button>
        </div>
    </section>
    <section class="schedule-section">
        <div class="schedule-form">
            <div class="account-card">
                <img src="/static/images/batman.jpg" alt="Profile Picture" class="account-img">
                <div class="account-info">
                    <span class="account-name">@razeforeal</span>
                </div>
                <button class="account-toggle">▾</button>
            </div>
            <div class="schedule-text">Schedule<BR>&nbsp;&nbsp;your post.</div>
            <label for="title">Title</label>
            <input type="text" id="title" placeholder="Enter title">
            <label for="description">Description</label>
            <textarea id="description" placeholder="Write a description"></textarea>
            <label for="tags">Tags</label>
            <input type="text" id="tags" placeholder="Add tags">
            <button class="cta">Schedule</button>
        </div>
    </section>
</main>
<script src="/static/js/dashboard.js"></script>
</body>
</html>
