<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/css/forget-password.css">
</head>
<body>
    <div class="forgot-password-container">
        <h1>Forgot Password?</h1>
        <h2>Enter your Email</h2>
        <form id="forgot-password-form" class="forgot-password-form">
            <input type="email" id="email" class="email-box" name="email" placeholder="check your mail shortly" required>
            <span id="email-error" class="error-message"><br></span>
            <button type="submit" class="submit">Submit</button>
        </form>
        <p class="note">
            Please enter the email associated with your account.<br>Need help? 
            <a href="/pages/contact" class="resend">Contact Support</a>
        </p>
        </p>
    </div>
    </div>
    <script src="/static/js/forget-password.js"></script>
</body>
</html>
