<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy</title>
  <link rel="stylesheet" href="/static/css/tos-and-privacy.css">
</head>
<body>
  <header>
    <div class="header">  
      <div class="logo">
        <img src="/static/images/Logo.png" alt="Logo" class="logo-icon">
        <span>Scheduler</span>
    </div>
      <nav>
        <a href="/" >Home</a>
        <a href="/pages/terms-and-conditions">Terms of Service</a>
        <a href="/pages/contact">Help</a>
      </nav>
    </div>
  </header>

  <main>
    <section class="content">
      <div class="left-panel">
        <h1>Privacy Policy</h1>
        <p>Your privacy is important to us. This Privacy Policy outlines how Scheduler collects, uses, and protects your information when you use our app and services.</p>
        <div class="box">
          <h2>how we<br>use your <span>INFORMATION</span></h2>
          <ul>
            <li><strong>Provide</strong> and maintain our services.</li>
            <li><strong>Improve</strong> the user experience and app functionality.</li>
            <li><strong>Send updates,</strong> promotional materials, and important notices.</li>
          </ul>
        </div>
        <div class="box">
          <h2>Your<br><span>Rights.</span></h2>
          <ul>
            <li><strong>Access,</strong> update, or delete your personal information.</li>
            <li><strong>Opt-out</strong> of promotional communications.</li>
            <li><strong>Request</strong> information about how we process your data.</li>
          </ul>
          <p>If you have any questions about this Privacy Policy, please <a href="/pages/contact">contact us</a>.</p>
        </div>
      </div>

      <div class="right-panel">
        <div class="box">
          <h2>WHAT information do we <span>collect?</span></h2>
          <ul>
            <li><strong>Personal Information:</strong> Name, email address, and phone number when you create an account.</li>
            <li><strong>Usage Data:</strong> Information about how you use our app, including interactions, preferences, and session activity.</li>
            <li><strong>Cookies:</strong> To enhance your experience and improve our services.</li>
          </ul>
        </div>
        <div class="box">
          <h2>Information <span>SHARING.</span></h2>
          <ul>
            <li><strong>We do not sell,</strong> trade, or rent your personal information to third parties. However, we may share your data with trusted partners for service-related purposes or when required by law.</li>
            <li><strong>Implement robust security</strong> measures to protect your information from unauthorized access, alteration, or disclosure. However, no method of transmission over the internet is completely secure.</li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</body>
</html>
