<section class="upload-section">
    <div class="upload-text">Upload your Image.</div>
    <div class="upload-box">
        <p>drag or drop a file to upload.</p>
        <button id="selec-photo-btn">Select</button>
    </div>
</section>

<section class="schedule-section">
    <div class="schedule-form">
        <div id="account-section">
            <div class="account-card add-account">
                <button id="bind-account-btn">+ Add TikTok Account</button>
            </div>

            <div class="account-card bound-account hidden">
                <img src="/static/images/Overlays.png" alt="Profile Picture" class="account-img" />
                <div class="account-info">
                    <span class="account-name">@razeforeal</span>
                </div>
                <button class="account-toggle">▾</button>
            </div>
        </div>

        <div class="schedule-text">Schedule<BR>&nbsp;&nbsp;your post.</div>
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="Enter title">
        <label for="description">Description</label>
        <textarea id="description" placeholder="Write a description"></textarea>
        <label for="tags">Tags</label>
        <input type="text" id="tags" placeholder="Add tags">
        <button class="cta">Schedule</button>

        <div class="footer">
            <a href="/contact">Contact</a>
            <a href="/privacy-policy">Privacy</a>
            <a href="/terms-and-conditions">Terms</a>
        </div>
    </div>
</section>
