<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms of Service</title>
  <link rel="stylesheet" href="/static/css/tos-and-privacy.css">
</head>
<body>
  <header>
    <div class="header">  
      <div class="logo">
        <img src="/static/images/Logo.png" alt="Logo" class="logo-icon">
        <span>Scheduler</span>
    </div>
      <nav>
        <a href="/landingpage">Home</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/help">Help</a>
      </nav>
    </div>
  </header>

  <main>
    <section class="content">
      <div class="left-panel">
        <h1>Terms of Service</h1>
        <p>By using our app, you agree to comply with and be bound by the following terms and conditions. Please read them carefully before using our services.</p>
        <div class="box">
          <h2>USER<br><span>Account.</span></h2>
          <ul>
            <li>You may need to create an account to access certain features of Scheduler. You are responsible for maintaining the confidentiality of your login credentials and for all activities that occur under your account.</li>
          </ul>
        </div>
        <div class="box">
          <h2>Termination.</h2>
          <ul>
            <li>We reserve the right to terminate or suspend your account at any time, with or without notice, for any violation of these terms or misuse of our service.</li>
          </ul>
        </div>
      </div>

      <div class="right-panel">
        <div class="box">
          <h2>USE of the <span>service.</span></h2>
          <ul>
            <li>You agree to use our service only for lawful purposes and in accordance with these terms. You are responsible for all activity under your account and must ensure that all information provided is accurate and up-to-date.</li>
        </div>
        <div class="box">
          <h2>Limitation<br><span>of Liability.</span></h2>
          <ul>
            <li>Scheduler shall not be held liable for any damages arising from the use of our service. This includes, but is not limited to, data loss, system failure, or unauthorized access to your account.</li>
          </ul>
        </div>
        <div class="box">
            <h2>Changes<br><span>to TERMS.</span></h2>
            <ul>
              <li>We may update these terms from time to time. Any changes will be posted on this page, and it is your responsibility to review them periodically.</li>
            </ul>
            <p>If you have any questions about this Privacy Policy, please <a href="/contact">contact us</a>.</p>
          </div>
      </div>
    </section>
  </main>
</body>
</html>